:root {
  font: 'DM Sans', sans-serif;

  /* Colors */
  --primary: #233A8D;
  --primaryRGB: 35 58 141;
  --secondary: #fff;
  --black: #000;
  --white: #fff;

  /* Stars Colors */

  /* Stars Shadows */
  --shadow-sirius: #fff;
  --shadow-vycanismajoris: #C50000;
  --shadow-adhara: #3A69C6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif; 
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 2rem 0;
}

.logo {
  max-width: 15rem;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .logo {
    margin: unset;
  }
}

/* Main */

.main {
}

@media (min-width: 768px) {
  .main {
    display: grid;
    column-gap: 5rem;
    row-gap: 6rem;
    grid-template-columns: 2fr 3.5fr;
  }
}

@media (min-width: 900px) {
  .main {
    grid-template-columns: 1fr 3.5fr;
  }
}

.stellarObjectsList {
  background-image: linear-gradient(258deg, rgb(var(--primaryRGB) / .7) 0%, rgb(var(--primaryRGB) / .3) 80%, rgb(var(--primaryRGB) / .2) 100%);
  box-shadow: 2px 0px 20px 1px #000000;
  padding: 2rem 2rem;
  border-radius: .3rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .stellarObjectsList {
  }
}

.stellarObject {
  text-decoration: none;
  max-height: fit-content;
  padding: .5rem 1rem;
  border: 1px solid #ffffff10;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  cursor: pointer;

  transition: border-color .5s ease, background-color .5s ease;
}

.stellarObject:hover {
  border-color: var(--white);
  background-color: rgb(0 0 0 / .25);
}

.star {
  margin: .2rem;
  max-width: 100%;
}

.infoObject {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.nameObject {
  line-height: 1;
  color: var(--white);
  font-size: 1.8rem;
  margin: 0;
}

.nameTool {
  color: var(--white);
  font-size: 1.6rem;
  margin: 0;
  font-weight: normal;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(258deg, rgb(var(--primaryRGB) / .7) 0%, rgb(var(--primaryRGB) / .3) 80%, rgb(var(--primaryRGB) / .2) 100%);
  box-shadow: 2px 0px 20px 1px #000000;
  padding: .5rem;
  max-width: max-content;
  margin: 0 auto;
  border-radius: .3rem;
  gap: .5rem;
}

.navigationBtn {
  padding: .2rem 3rem;
  flex: 1;
  color: var(--white);
  border-radius: .3rem;
  text-decoration: none;
  background-color: transparent;
  border: unset;
  cursor: pointer;

  transition: background-color .5s ease;
}

.navigationBtn:hover,
.navigationBtnActive {
  background-color: rgb(255 255 255 / .2);
}

/* Constellations */

.constellations {
  display: none;
}

@media (min-width: 768px) {
  .constellations {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    overflow: hidden;

    /* To use offset on the children */
    position: relative;
  }
}

.constellation {
  display: flex;
  flex-direction: column;
}

.constellationName {
  text-align: center;
  color: var(--white);
  margin: 0;
  font-size: 3.5rem;
}

.constellationInfo {
  text-align: center;
  color: var(--white);
  margin: .5rem 0;
  font-size: 1.6rem;
}

.constellationMap {
  height: 100%;
  position: relative;
}

.starBtn {
  all: unset;
  display: block;
  position: relative;
  cursor: pointer;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.svgConnector {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  transition: opacity 1s ease;
}


/* Image Tools */
/* Form Images */

.fileOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.formOptionsImage {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.rangeSize {
  text-align: right;
  margin: 0;
  color: var(--white);
}

.sizeCompressed {
  font-weight: bold;
  font-size: 1.8rem;
}

.aspectRatio {
  align-self: flex-end;
  display: flex;
  cursor: pointer;
  width: fit-content;
  position: relative;
}

.checkBoxIcon {
  border-radius: .5rem;
  transition: background-color .2s ease;
}

.aspectRatio::before {
  content: 'Keep aspect ratio';
  display: block;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120%;
  background-color: #00000080;
  padding: .5rem;
  border-radius: .5rem;
  color: var(--white);
  white-space: nowrap;

  transition: opacity .5s ease;
}

.aspectRatio:hover::before{
  opacity: 1;
}

.checkBoxAspectRatio {
  display: none;
}
.checkBoxAspectRatio:checked + .checkBoxIcon {
  background-color: rgb( 255 255 255 / .3 );
}


/* Button Download */


.btnDownload {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  transition: background-color .3s ease;
}

.btnDownload:hover {
  background-color: rgb(var(--primaryRGB) / .5);
}

/* File Information */
.fileInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.fileInfoName {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
  gap: 1rem;
}

.fileInfoData {
  font-size: 1.4rem;
  text-align: right;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 14ch;
}

/* Tool Container */

.toolContainer {
}

@media (min-width: 768px) {
  .toolContainer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
  }
}

.imageUploadViewContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .imageUploadViewContainer {
    height: 60vh;
    min-height: 45rem;
  }
}

/* DragNDrop */
.dragndrop {
  padding: 1rem;
  background-color: rgb( 255 255 255 / .1 );
  min-height: min-content;
  height: 35%;
  border: 3px var(--primary) dashed;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: background-color .5s ease, transform .5s ease;
}

.dragndropActive {
  background-color: rgb( var(--primaryRGB) / .4 );
  transform: scale(1.03);
}

.cloudIcon {
  fill: #ffffff60;
  max-width: 2rem;
}

.dragndropText {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255 255 255 / .6);
  margin: 0;
}

.dragndropOr {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(255 255 255 / .6);
  margin: 0;
}

.browseFiles {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

.inputFile {
  display: none;
}

.imageViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(65% - 2rem);
}

.imageView {
  object-fit: contain;
  display: block;
  height: 100%;
  width: 100%;
}

/* List of Files */

.listOfFilesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listOfFiles {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 60vh;
  overflow: auto;
}

.listFile {
  all: unset;
  border: 2px solid var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  cursor: pointer;
  outline: 2px transparent solid;

  transition: border-color .5s ease, outline-color .5s ease;
}

.listFile:hover,
.listFileActive {
  border-color: var(--primary);
  outline-color: var(--primary);
}

.listFileImg {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 6rem;
}

.listFileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
}

.listFileName {
  margin: 0;
  color: var(--white);
  font-weight: bold;

  /* Only one line and text overflow with elypsis */
  white-space: nowrap;
  max-width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listFileSizes {
  margin: 0;
  font-size: 1.4rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.homeIcon {
  display: block;
  height: 32.4px;
}

/* Examples */

.imagesExamples {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.examplesTitle {
  margin: 0;
  font-size: 1.8rem;
  color: var(--white);
  font-weight: normal;
}

.examplesList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.exampleImageContainer {
  all: unset;
  list-style: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: .3rem;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;

  transition: border .5s ease, transform .5s ease;
}

.exampleImageContainer:hover {
  border: 2px solid var(--white);
  transform: scale(1.04);
}

.exampleImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

/* UPLOADING SPACE */
/* Many many thanks to Yazan Qwaider who posted this amazing loader on codepen Link: https://codepen.io/YazanQ/pen/QWyEQBG */

.uploadingSpaceContainer {
  position: absolute;
  display: grid;
  place-items: center;
}

.uploadingSpace{
  width: 100px;
  height: 100px;  
  position: relative;
  display: grid;
  place-items: center;
}

.circle{
  width: 30px;
  height: 30px;
  background-color: #fff;
  filter: drop-shadow(0 0 10px var(--white));
  border:1px solid transparent;
  border-radius:50%;
  position:absolute;
  transition:1s;
}

.f-circle{
  position:absolute;
  width:95%;
  height:95%;
  left:2.5%;
  top:2.5%;
  border-radius:50%;
  border:1px solid #fff;
  animation: rotate 3s linear 0s infinite;
}

.f-circle::after{
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  position:relative;
  left: 65px;
  border-radius:50%;
  background-color: #0a1b30;
  filter: drop-shadow(0 0 3px #fff);
}

/* second circle */
.s-circle{
  width:75%;
  height:75%;
  position:absolute;
  top:calc(50% - 37.5%);
  left:calc(50% - 37.5%);
  border:1px solid #fff;
  border-radius:50%;
  animation: rotate 4s linear 0s infinite;
}

.s-circle::after{
  content:"";
  display:inline-block;
  width: 15px;
  height: 15px;
  position:relative;
  left: 50px;
  border-radius:50%;
  background-color: var(--primary);
  filter: drop-shadow(0 0 3px #fff);
}

/* third circle */
.t-circle{
  width:55%;
  height:55%;
  position:absolute;
  left:calc(50% - 27.5%);
  top:calc(50% - 27.5%);
  border-radius:50%;
  border:1px solid #fff;
  animation: rotate 5s linear 0s infinite;
}

.t-circle::after{
  content:"";
  display:inline-block;
  width: 10px;
  height: 10px;
  position:relative;
  left: 40px;
  border-radius:50%;
  background-color: #000;
  filter: drop-shadow(0 0 3px #fff);
}

/* keyframe rotate anmiation */
@keyframes rotate{
  from{
    transform:rotate(360deg);
  }
  to{
    transform:rotate(0deg);
  }
}


.circle:hover{
  width:120px;
  height:120px;
  top:calc(50% - 60px);
  left:calc(50% - 60px);
}

.f-circle:hover ,
.s-circle:hover ,
.t-circle:hover {
  border:2px solid #ccc;
  padding:-1px;
}

/* CROPPER JS overwrite */ /* Thanks to https://github.com/fengyuanchen/cropperjs for this incredible library */

.cropper-bg {
  background-image: none !important;
}

.cropper-face, .cropper-line, .cropper-point {
  opacity: 0.3 !important;
}

/* PREVIEW CROP IMAGE */

.previewCrop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.previewCropContainer {
  width: 100%;
  height: 15rem;
  display: block;
}

.previewCropImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.btnsCrop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btnCropImage {
  all: unset;
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  border: 2px solid var(--white);
  border-radius: .5rem;
  cursor: pointer;

  transition: background-color .5s ease;
}

.btnCropImage:hover {
  background-color: rgb(255 255 255 / .2);
}

